#cistercian-numerals {

  .digit {
    width: 400px;    
    height: 600px;

    svg {
        width: 100%;
        height: 100%;
  
      polyline, line, path {
        fill: none; 	
        stroke: #000;
        stroke-width: .067;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }
}
